
.workspaceContainer {
    width: 100%;
    justify-content: center;
    box-shadow: 1px -2px 104px -30px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 104px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 104px -30px rgba(0,0,0,0.75);
    font-family: 'Montserrat', sans-serif;
  }
  
.workspaceContent {
    align-items: center;
 }

.workspaceHeading{
  font-size: 1em;
  padding: 20px;
  margin-bottom: 20px;
}

.text{
  margin-left: 90px;
  font-size: 1.2em;
}
  
.cardContainer{
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  margin-bottom: 30px;
  width: 48%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: -1px 11px 32px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 11px 32px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 11px 32px -6px rgba(0,0,0,0.75);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .overlay {
  position: absolute;
  padding: 50px;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  color: white;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0;
}

.card:hover {
  color: white;
  transform: scale(1.05);
}

.card:hover .overlay {
  opacity: 1;
  transform: translate(0, 0);
  color: white;
}

.para{
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
    max-width: none;
    margin-bottom: 20px; 
  }

  .cardContainer {
    flex-direction: column; 
  }
}


