/* 

.card img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .overlay {
  position: absolute;
  padding: 50px;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  color: white;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0;
}

.card:hover {
  color: white;
  margin-top: -10px;
}

.card:hover .overlay {
  opacity: 1;
  transform: translate(0, 0);
  color: white;
  opacity: 1;
}

.cardWrapper{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
    max-width: none;
    margin-bottom: 20px; 
  }

  .cardContainer {
    flex-direction: column; 
  }
} */

