.cardy{
    min-height: 40rem;
    min-width: 30rem;
    padding: 40px;
    background-color: blue;
    margin: 20px;
}

.inner-carousel{
    display: flex;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}